<div class="error-message">
  <h1>TITLE NOT FOUND :(</h1>
</div>

<div class="error-image">

</div>

<div class="index-search-error">
  <form action="/movie_list" class="input-wrapper">
    <input type="text" name="movie" placeholder="Search again" class="index-input-box">
    <button class="index-button">
      <img src="style/search.png">
    </button>
  </form>
</div>
