<div class="header">
  <h1>Welcome to the biggest movie database</h1>
</div>

<div class="search">
  <form action="/movie_info">
    <input type="text" name="movie" placeholder="Enter Movie" class="input-box">
    <button class="button">Search</button>
  </form>
</div>
