<div class="index-background">

<div class="header">

  <h1>Movies and TV</h1>

  <div class="logo"></div>

  <div class="index-search">
    <form action="/movie_list">
      <input type="text" name="movie" placeholder="Search Movie and TV" class="index-input-box">
      <button class="index-button">
        <img src="style/search.png">
      </button>
    </form>
  </div>

</div>

</div>
