<h1>Welcome to the biggest movie database</h1>

<form action="/movie_info">
  <label for="">Search Movie</label>
  <input type="text" name="movie" placeholder="Enter Movie">
  <button>Search</button>
</form>

<div id="image">
  <% @movie_info.each do |k, v| %>
    <% if k == "Poster" %>
      <div class="image">
        <img src= <%= v %>> </br>
      </div>
    <% end %>
  <% end %>
</div>

<div id="info">
  <% @movie_info.each do |k, v| %>
    <% if k != "Poster" %>
      <%= k %>: <%= v %> </br>
    <% end %>
  <% end %>
</div>
